<%- include('partials/sidebar.ejs'); %>
    <main class="">
        <div class="grid mb-4 pb-10 px-8 mx-4 rounded-3xl bg-opacity-0 border-4 border-blach">
            <div id="carouselExampleCaptions" class="relative" data-te-carousel-init data-te-ride="carousel">
            </div>
        </div>
    </main>
    
            