<!DOCTYPE html>
<html x-data="data()" lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- Favicon -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
</head>

<body>
    <div class="flex flex-col items-center justify-center h-screen bg-cover bg-center" style="background-image: url(https://t3.ftcdn.net/jpg/05/93/52/12/360_F_593521259_FTBggkMSTck8OKcMhZe9KZUkXFuVB3FG.jpg);">
        <!-- Texto en la parte superior -->
        <p class="text-white text-lg font-bold mb-4">¿QUIEN ESTA INGRESANDO?</p>
        
        <!-- Contenedor de los botones -->
  <div class="flex justify-center">
    <!-- Primer botón -->
    <div class="mx-6">
      <a href="/SesionTrab" class="block px-6 py-3 border border-white bg-transparent text-white hover:bg-sky-700 hover:bg-opacity-80 hover:border-sky-700 rounded-full transition-all duration-300">
        TRABAJADOR
      </a>
    </div>

    <!-- Segundo botón -->
    <div class="mx-6">
      <a href="/SesionCli" class="block px-6 py-3 border border-white bg-transparent text-white hover:bg-sky-700 hover:bg-opacity-80 hover:border-sky-700 rounded-full transition-all duration-300">
        CLIENTE
      </a>
    </div>
  </div>
      </div>
      
      
</body>
</html>  